html { color-scheme: light dark; }
html {
  --color-accent: oklch(56.46% 0.11781 157);
  accent-color: var(--color-accent);
}


body {
  background: canvas; color: canvastext;
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
   max-width: 100ch;
   margin-inline: auto;
   padding: 1em;
  font: 100%/1.5 system-ui;


}
/* make image not super large*/
img {
  max-width: 300px;
  height: auto;
  display: block;
  margin:20px auto;
}


nav {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
}    
nav a {
  flex:1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
}

nav a:hover,nav a.current {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

form, label, input, textarea, button { font: inherit; }

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}
label {
  display: grid;
  grid-template-columns: subgrid;
}
label,button {
  grid-column: 1 / -1;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}
.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}
.projects h2 {
  margin: 0;
}
.projects {
  gap: 1em;
}


h1 {
  font-size: 400%;
  line-height: 1.1;
  text-wrap: balance;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

.cv h1 {
  font-size: 300%;
  line-height: 1.1;
  text-align: center;
}

.cv a {
  color: var(--color-accent);
  text-decoration: underline;
  text-align: right;
}

.cv a:hover {
  text-decoration: none;
  text-decoration: none;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-family: inherit;
  font-size: 0.9rem;
}

.color-scheme select {
  font-family: inherit;
}